.main-screen {
  @include position(absolute, 0 null null 0);
  width: 100%; height: 100%;
  background-color: #3A3A3A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  
  
  .svg-container {
    order: 1;
    @include position(relative, 25% null null 28%);
     body.platform-android & {
      @include position(relative, 22% null null 28%);
    }
    width: 200px;
    height: 250px;
  }

  .svg-case-module {
    @include position(relative, 0 null null 0);
    background-image: url('../img/case-module.svg');
    width: 159px;
    height: 197px;
    z-index: 1;
  }

  .svg-disconnected {
    @include position(relative, -53% null null 14%);
    background-image: url('../img/disconnected.svg');
    width: 108px;
    height: 129px;
    z-index: 2;
  }
  .svg-connected {
    @include position(relative, -53% null null 14%);
    background-image: url('../img/connected.svg');
    width: 109px;
    height: 129px;
    z-index: 2;
  }

  
  .text {
    order: 2;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 53%;
    body.platform-android & {
     margin-top: 43%;
    }
    margin-left: 15%;
    margin-right: 15%; 
    text-align: center;
  }

  .button-connect {
    order: 3;
    width: 328px;
    height: 56px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4BC3DA;
    margin: auto;
    margin-bottom: 5%;
  }

  .button-file-manager {
    order: 4;
    width: 328px;
    height: 56px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4BC3DA;
    margin: auto;
    margin-bottom: 5%;
  }

}

.main-screen.hidden {
  display: none;
}
